@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<header>
  <h1>Add Machine</h1>
</header>
<main>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add Machine" />
  }
  <p>@Html.ActionLink("Go back to Machines", "Index")</p>
</main>