@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete this machine from the database?</h2>

@Html.DisplayName("Machine details"): @Html.DisplayFor(model => model.MachineDetails)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Factory", "Index")