@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<header>
  <h1>Confirm deleting @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h1>
</header>
<main>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to Engineers", "Index")
  <p>@Html.ActionLink("Back Home", "Index", "Home")</p>
</main>